<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>创建会议表单</title>
    <link rel="stylesheet" href="{{backend_origin}}/stylesheets/style.css">
    <script src="{{backend_origin}}/jquery.min.js"></script>
    <script language="javascript">
        $(function () {
            $('#form').on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function (data, textStatus, jqXHR) {
                        alert('创建成功');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(xhr.status + '\r\n' + xhr.statusText + '\r\n' + xhr.responseText);
                    }
                });
            });
        });
    </script>
</head>

<body>
    <h1>创建会议表单</h1>
    <form id="form" action="{{backend_origin}}/views/meetings" method="post">
        <p>会议主题: <input type="text" name="title" /></p>
        <p>会议地点:
            <select name="room">
                {{#each rooms}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </p>
        <p>开始时间: <input type="datetime" name="beginAt" value="2022-04-23 12:00:00" /></p>
        <p>结束时间: <input type="datetime" name="endAt" value="2022-04-23 13:00:00" /></p>
        <input type="submit" value="创建" />
    </form>

    <p>
        <a href="{{backend_origin}}/views/meetings">
            <button>返回会议列表</button>
        </a>
    </p>
</body>

</html>