<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单列表</title>
    <link rel="stylesheet" href="{{backend_origin}}/stylesheets/style.css">
</head>

<body>
    <h1>表单列表</h1>
    <p>
        <a href="{{backend_origin}}/views">
            <button>首页</button>
        </a>
    </p>
    <p>
    <table border="1">
        <tr>
            <th>单号</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        {{#each forms}}
        <tr>
            <td>{{this.code}}</td>
            <td>{{this.createdBy}}</td>
            <td>{{formatDate this.createdAt}}</td>
            <td>{{formatDate this.updatedAt}}</td>
            <td>
                <a href="{{backend_origin}}/views/forms/{{this.id}}">详情</a>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="10">No content</td>
        </tr>
        {{/each}}

    </table>
    </p>
</body>

</html>